<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.store">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/all_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/all_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Map"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxmK-zLnYYU03qmlit085m20J2S8609rs" />

        <activity android:name=".Contratacion" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Invitado" />
        <activity android:name=".Registro" />
        <activity android:name=".Register" />
        <activity
            android:name=".Credenciales.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InfoProducto" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>